<!DOCTYPE html>
<html lang="en" ng-app="hotelApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>NoBugs Hotel Search Results</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="bower_components/jquery-ui/themes/base/jquery-ui.min.css" rel="stylesheet">
    <link href="bower_components/social/bootstrap-social.css" rel="stylesheet">
    <link href="myStyles.css" rel="stylesheet">
</head>

<body>
    <!-- navigation bar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="home"><a href="index.html">NoBugs Hotel Search</a></li>
                </ul>  
                <ul class="nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                         role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"
                         aria-hidden="true"></span>
                         <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="mybookings.html">My Bookings</a></li>
                            <li><a href="mybookings.html">My Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="disabled"><a id="loginLink">Login / Sign Up</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- main container starts -->
    <div class="container-fluid" style="padding-top: 60px" ng-controller="RoleCtrl">
        <div class="row" ng-controller="HotelCtrl">
            <h3>Your Hotels</h3>
            <div class="col-sm-12" ng-repeat="hotel in hotels" ng-controller="ShowCtrl">
                <button class="btn btn-link" id="moreAboutHotel" ng-click="showMore()"><h4><span class="caret"></span> {{hotel.name}}</h4></button>
                <!-- div for individual hotels-->
                <div ng-show="shouldShow" class="ng-cloak">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="nav-item"><a class="nav-link" href="#info{{hotel.id}}" data-toggle="tab">General Info</a></li>
                        <li class="nav-item"><a class="nav-link" href="#staff{{hotel.id}}" data-toggle="tab">Staff</a></li>
                        <li class="nav-item"><a class="nav-link" href="#rooms{{hotel.id}}" data-toggle="tab">Rooms</a></li>
                        <li class="nav-item"><a class="nav-link" href="#bookings{{hotel.id}}" data-toggle="tab">Bookings</a></li>
                        <li class="nav-item"><a class="nav-link" href="#rules{{hotel.id}}" data-toggle="tab">RuleSet</a></li>
                    </ul>
                    <div class="tab-content" >
                    <!-- start of General Info Tab -->
                        <div class="tab-pane" id="info{{hotel.id}}" role="tabpanel" ng-controller="CurrentHotelCtrl">
                            <ul class="media-list">
                                <li class="col-sm-12 media">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                        <img class="media-object img-thumbnail" style="width:150px;height:150px"
                                        ng-src={{currentHotel.image}}>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h2 class="media-heading">{{currentHotel.name}} <span class="label label-warning">{{currentHotel.stars}}</span>
                                        <a href="reviews.html"><span class="badge">{{currentHotel.rating}}</span></a></h2>
                                        <p style="font-size: 18px">{{currentHotel.description}}</p>
                                    </div>
                                </li>
                                <!-- change hotel info -->
                                <form role="form" class="col-sm-12" ng-show="boss" id="changeInfoForm">
                                    <h3 style="text-align: left">Change Information</h3>
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input type="text" name="name" placeholder="Hotel Name">
                                    </div>
                                    <div class="form-group">
                                        <label for="stars">Stars</label>
                                        <input type="number" name="stars" placeholder="Stars">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Description</label>
                                        <textarea rows="4" name="description" class="form-control" placeholder="Hotel Description"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-success">Change Information</button>
                                </form>
                            </ul>   
                        </div>
                        <!-- end of General Info Tab -->
                        <!-- start of Employees -->
                        <div class="tab-pane" id="staff{{hotel.id}}" role="tabpanel"  ng-controller="RoleCtrl">
                            <button class="btn btn-success" style="margin-top: 20px" data-toggle="modal" data-target="#addEmpModal">Add an Employee</button>
                            <table width="100%" ng-controller="EmpsCtrl" class="table-hover">
                                <tr>
                                    <th class="adminTable" colspan="4" style="text-align: center">List of Employees</th>
                                </tr>
                                <tr ng-repeat="emp in employees track by $index">
                                    <td class="adminTable">{{emp.name}}</td>
                                    <td class="adminTable">{{emp.email}}</td>
                                    <td class="adminTable">{{emp.position}}</td>
                                    <td class="adminTable" ng-show="boss" ><button class="btn btn-danger btn-sm">Dismiss</button></td>
                                </tr>
                            </table>
                        </div>
                        <!-- end of Employees -->
                        <!-- start of Rooms -->
                        <div class="tab-pane" id="rooms{{hotel.id}}" role="tabpanel">
                        <h2 style="text-align: center">Rooms</h2>
                        <button class="btn btn-success" style="margin-bottom: 20px" data-toggle="modal" data-target="#addARoomModal">Add a Room</button>
                            <div class="row" ng-controller="RoomController">
                                <ul class="media-list">
                                    <li class="media col-sm-4" ng-repeat="room in rooms">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                        <img class="media-object img-thumbnail" style="width:150px;height:150px" ng-src={{room.image}}>
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <h2 class="media-heading">{{room.level | uppercase}}</h2>
                                        <p style="font-size: 18px">{{room.price}}RUB</p>
                                        <p style="font-size: 18px">{{room.roomNum}}</p>
                                        <a href="#" class="btn btn-danger" id="deleteARoom">Delete</a>
                                    </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- end of Rooms -->
                        <div class="tab-pane" id="bookings{{hotel.id}}" role="tabpanel">
                            <a href="makeabooking.html" class="btn btn-success" style="margin-top: 20px">Add a Booking</a>
                            <table style="width: 100%" ng-controller="MyBookingsController" class="table-hover">
                                <tr>
                                    <th class="adminTable" colspan="6" style="text-align: center">Bookings</th>
                                </tr>
                                <tr ng-repeat="b in bookings">
                                    <td class="adminTable">id: {{b.id}}</td>
                                    <td class="adminTable">{{b.arrival}}</td>
                                    <td class="adminTable">{{b.departure}}</td>
                                    <td class="adminTable">{{b.price}}RUB</td>
                                    <td class="adminTable">{{b.name}}</td>
                                    <td class="adminTable">Room Number: {{b.roomNum}}</td>
                                    <td class="adminTable"><a href="booking.html" class="btn btn-info">Change The Booking</a></td>
                                </tr>
                            </table>
                        </div>
                        <!-- start of rule set-->
                        <div class="tab-pane" id="rules{{hotel.id}}" role="tabpanel">
                            <div class="container">
                            <div class="row">
                                <h3>Current RuleSet</h3>
                                <div class="col-sm-6" ng-controller="RoomLvlCtrl">
                                    <h4>Room Levels</h4>
                                    <table class="table-hover table">
                                        <tr><th>Level</th><th>Cost Per Night</th></tr>
                                        <tr ng-repeat="roomlvl in roomLevels">
                                        <td>{{roomlvl.level}}</td><td>{{roomlvl.price}}</td></tr>
                                    </table>
                                </div>
                                <div class="col-sm-6" ng-controller="ClientLvlCtrl">
                                <h4>Client Levels</h4>
                                <table class="table-hover table">
                                    <tr><th>Bookings</th><th>Percentage</th></tr>
                                    <tr ng-repeat="clientlvl in clientLevels">
                                    <td>{{clientlvl.bookingsAmount}}</td><td>{{clientlvl.price}}</td></tr>
                                </table>
                                </div>
                            </div>
                            <form role="form" class="col-sm-12" ng-show="boss" id="changeRulesForm">
                                <h3>Change Cost & Discount</h3>
                                <div class="col-sm-6" ng-controller="RoomLvlCtrl">
                                    <h4>Room Levels</h4>
                                    <div class="form-group" ng-repeat="roomlvl in roomLevels">
                                        <label for="roomLevel">{{roomlvl.level}}</label>
                                        <input type="number" name="roomCost" class="form-control" placeholder="Cost Per Night">
                                    </div>
                                </div>
                                <div class="col-sm-6" ng-controller="ClientLvlCtrl">
                                    <h4>Client Levels</h4>
                                    <div class="form-group" ng-repeat="clientlvl in clientLevels">
                                        <label for="clientLevel">{{clientlvl.bookingsAmount}} bookings</label>
                                        <input type="number" name="discount" class="form-control" placeholder="Discount Percentage">
                                    </div>
                                </div>
                                <button class="btn btn-success col-sm-2 col-sm-push-5">Submit</button>
                            </form>
                            </div>
                        </div> <!-- end of rule set-->
                    </div>
                </div>
            </div>
        </div>
        <!-- adding an employee modal -->
        <div id="addEmpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>Add a New Employee</h4>
                </div>
                <div class="modal-body">
                    <form role="form" id="newEmpForm">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="roles">
                                <option value="manager">Manager</option>
                                <option value="receptionist">Receptionist</option>
                                <option value="cleaner">Cleaner</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-success">Submit</button>          
                    </form>   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm"
                       data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
        </div>
        <!-- adding a room modal -->
        <div id="addARoomModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <form role="form" ng-controller="RoomLvlCtrl">
                    <div class="form-group" ng-repeat="lvl in roomLevels">
                        <input type="radio"  name="selectRoomLevel" value="{{lvl.level}}"> {{lvl.level}}</br>
                    </div>
                    <div class="form-group">
                        <label for="roomNum">Room Number</label>
                        <input type="number" name="roomNumber"> 
                    </div>
                    <div class="form-group">
                        <label for="roomPic">Image</label>
                        <input type="file" name="roomPic" accept="image/*">
                        <input type="submit">
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default btn-sm"
                       data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
        </div> <!-- end of room modal-->
    
    </div> <!-- main container ends -->


    <!-- footer starts-->
    <footer class="row-footer">
        <div class="container-fluid">
            <div class="row">             
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                    <h5>Links</h5>
                    <ul class="list-unstyled">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="admin.html">Admin Page</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-5">
                    <h5>Our Address</h5>
                    <address>
                      1, Universitetskaya str.<br>
                      Innopolis<br>
                      RUSSIA<br>
                      <i class="fa fa-phone"></i>: +79151234567<br>
                        <i class="fa fa-envelope"></i>: 
                                 <a href="mailto:nobugs@gmail.com">nobugs@gmail.com</a>
                   </address>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="nav navbar-nav" style="padding: 40px 10px;">
                        <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                        <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                        <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                        <a class="btn btn-social-icon btn-vk" href="http://vk.com"><i class="fa fa-vk"></i></a>
                    </div>
                </div>
                <div class="col-xs-12">
                    <p style="padding:10px;"></p>
                    <p align=center>© Copyright 2016 NoBugs DMD Team</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer ends-->

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="factories.js"></script>
    <script src="controllers.js"></script>

    <script type="text/javascript">
        $(function () {
                $('#arrivalDate').datepicker();
                $('#departureDate').datepicker();
        });
    </script>
    
    </body>

</html>